/*navbar*/
#navbar{
   height: 180px; 
}
#nav-container{
    flex-direction: column;
    padding: 20px;
}
#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}
#navbar-items li:nth-child(2){
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

/*clients*/

#clients-container{
    grid-template-columns: repeat(2, 1fr);

}
.client{
    width: 50%;
}

/*Feature*/

#feature-container{
    grid-template-columns: repeat(1, 1fr);
}
.feature{
    margin: 15px;
}
